a {
    color: #56a5ce;
    text-decoration: none;
    font-family: gudea;
    font-size: 20px;
    line-height: 100%;
}


header{
	width: 100%;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.navlogo{
	margin: 0;
    display: inline-block;
    width: 40%;
}
.navmenu {
	    margin: 0;
    display: inline-block;
    width: 50%;
    position: fixed;
}
#block{
	width: 85%;
	height: 100%;
	margin-top: 3%;
	margin-left: 7.5%;
}
#block img{
	    max-width: 60%;
    margin-left: 10px;
}
#logoli-hr{	
   width: 2px;
    background-color: #e9e9e9;
    display: inline-block;
    margin: 0px 0 0 25%;
    padding-top: 15%;
}
#block ul{
	    display: flex;
    margin: 27px 0px 0px 5%;
 
}
#block ul li{
	display: inline-block;
	margin-left: 20px;
}
#block p{
	    color: #8c8c8c;
    display: flex;
    margin: 0 0 0 15px;
    font-size: 1.3em;
}
.active{
	color: #2def10;
}
#header-hr{
	width: 100%;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 8px
}
