a {
    color: #56a5ce;
    text-decoration: none;
    font-family: gudea;
    font-size: 20px;
    line-height: 100%;
}


header{
	width: 100%;
}

#block{
	width: 85%;
	height: 100%;
	margin-top: 3%;
	margin-left: 7.5%;
}
#block img{
	max-width: 24%;
	max-height: 24%;
	margin-left: 10px;
}
#logoli-hr{	
    width: 2px;
    background-color: #e9e9e9;
    display: inline-block;
    margin: 0 0 0 10%;
    padding-top: 6%;
}
#block ul{
	display: inline-block;	
    margin: 27px 0px 0px 7%;
    position: absolute;
}
#block ul li{
	display: inline-block;
	margin-left: 15px;
}
#block p{
	color: #8c8c8c;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.3em;
}
.active{
	color: #2def10;
}
#header-hr{
	width: 100%;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 8px
}
